
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');
  .homeTitle{
    text-transform: uppercase;
    font-weight: 500;
    color: #1d1d1dbe;
    letter-spacing: 1.99px;
    font-family: 'DynaPuff', cursive;

  }